[run]
branch = True
source =
    gordon_gcp

[paths]
source =
   src/gordon_gcp
   .tox/*/lib/python*/site-packages/gordon_gcp
   .tox/pypy/site-packages/gordon_gcp

[report]
show_missing = True
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
